body{
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.corpo{
    width: 980px;
    min-height: 1000px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 120px;
    /*border: 1px solid #EFEFEF;
    /* Adicionar bordas arrendondas em baixo 
    border-radius:0 0 10px 10px; 
    -moz-border-radius: 0 0 10px 10px; 
    -webkit-border-radius: 0 0 10px 10px;*/
}

.corpo #menu_lateral{
    margin-left: 0px;
    position: absolute;
    top: 240px;
    width: 190px;
    min-height: 303px;
    background: #CCC;
    /*background: #79CAFF;*/
    font-family: Arial;
    font-size: 14px;
    
    /* Adicionar bordas arrendondas */
    border-radius:5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
}

.corpo #menu_lateral table{
    margin-top: 10px;
    margin-left: 10px;
}

.corpo #menu_lateral table a{
    text-decoration: none;
    font-family: Arial;
    font-size: 14px;
    color: #FFF;
}

.corpo #menu_lateral table a:hover{
    color: #000;
}

.corpo #onde_estou{
    padding: 22px;
    margin-left: 210px;
    margin-top:20px;
    font-family: arial;
    font-size: 12px;
}

.corpo #onde_estou a{
    color: #111;
}

.corpo #ordenar{
    margin-left: 745px;
    margin-top: -42px;
    font-family: arial;
    font-size: 12px;
}

.corpo #area_resultados{
    min-height: 700px;
    margin-left: 233px;
    margin-top: 50px;
}

.corpo #area_resultados a{
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    color: #0099FF;
}

.corpo #area_resultados a:hover{
    text-decoration: underline;
}

.corpo #area_resultados p#texto_destaque{
    font-family: Arial;
    font-size: 18px;
    color: #333;
}

.corpo #area_resultados p#preco{
    font-size: 14px;
    font-family: arial;
    background: #E5E5E5;
    
    /* Adicionar bordas arrendondas */
    border-radius:5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
}