body{
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.max_footer{
    width: 100%;
    height: 500px;
    background: #CCC;
    /*background: #79CAFF;*/
    background:url(../img/footer.jpg);
}

.max_footer .footer{
    margin: 0 auto;
    width: 980px;
    height: 400px;
}

.max_footer .footer #area_busca{
    padding: 7px;
    margin-left: 340px;
}

.max_footer .footer #img_pagamento{
    margin-top: 100px;
}
