body{
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.max_footer{
    width: 100%;
    height: 500px;
    background: #CCC;
    /*background: #79CAFF;*/
}

.max_footer .footer{
    margin: 0 auto;
    width: 980px;
    height: 400px;
    /*background: #CCC; /*background: #CCC;*/
}
